body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
h1{
    text-align: center;
    text-transform: capitalize;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    
    
    
    padding-bottom: 40px;
    
    
    color: beige;

    background-color: #25242e;

    
    
    

}

.navbar{
    padding: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 50px;
    

}

.navbar a{
    transform:scale(2,2);
    color: rgb(255, 255, 255);
    margin-right: 40px;
    text-decoration: none;
    font-weight: bold;
    
}
.box1{
    margin-left:100px; 
    margin-top: 100px;
    
}
.box2{
    
    margin-left: 20px;
    background-color:aquamarine;
}